---
interface Props {
	className?: string
	borderColor?: string
	darkBorderColor?: string
	showBorder?: boolean
}

const {
	className = 'absolute left-0 top-0 h-full w-full border-b border-dashed border-[#d1d1d1]',
	borderColor = '#f2eded',
	darkBorderColor = '#d1d1d1',
	showBorder = true,
} = Astro.props
---

<div class={className}>
	<div class="container relative h-full px-4 md:px-6">
		<div class="grid h-full w-full grid-cols-12">
			{
				Array.from({ length: 12 }, (_, i) => (
					<div
						class={`col-span-1 border-l-[1px] border-dashed ${
							i === 11 ? 'border-r-[1px]' : ''
						}`}
						style={`border-left-color: ${i === 0 ? darkBorderColor : borderColor}; ${
							i === 11 ? `border-right-color: ${darkBorderColor};` : ''
						}`}
					/>
				))
			}
		</div>
	</div>
</div>
