---
import GridDesign from '../GridDesign.astro'

interface Props {
	media?: any
	blockType: 'mediaBlock'
}

const { media } = Astro.props
---

<section class="py-16 relative">
	<GridDesign />
	<div class="container mx-auto px-4">
		{
			media && typeof media === 'object' && media.url && (
				<div class="text-center">
					<img
						src={`http://localhost:3000/${media.url}`}
						alt={media.alt || 'Media image'}
						class="w-full max-w-4xl mx-auto h-auto object-cover relative z-10"
					/>
				</div>
			)
		}
	</div>
</section>
